$highColor: #31c27c;

@mixin c_deep() {color: #333333;}
@mixin c_mid() {color: #666666;}
@mixin c_light() {color: #999999;}
@mixin highColor() {
    color: #31c27c;
}
@mixin bgColor() {
    background-color: #31c27c;
}
@mixin clearfix() {
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
}
@mixin t_hide($width: 100%) {
    max-width: $width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@mixin ab_full() {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}