@import './reset.scss';
@import './_mixin.scss';
@import './_common.scss';

.section-inner {
    max-width: 1200px;
    margin: 0 auto;
}
@media (max-width: 1240px) {
    body {
        min-width:1180px
    }

    .main,.section-inner {
        margin: 0 50px;
        min-width: 900px;
    }
}


// ================ 首页 ================
#home {
    .section-inner {
        position: relative;
        z-index: 2;
        overflow: hidden;
    }
    .card {
        position: relative;
        background: url(https://y.gtimg.cn/mediastyle/yqq/img/bg_detail.jpg) 50% 0 repeat-x;
    }
    .index-tab {
        height: 50px;
        text-align: center;
        li {
            display: inline-block;
            font-size: 15px;
            margin: 0 24px;
            cursor: pointer;

            &.active, &:hover {
                @include highColor();
            }
        }
    }

    .swiper-container {
        margin-bottom: 20px;
    }
    .newsong-list {
        .item {}
        .wrapper {
            position: relative;
            height: 86px;
            overflow: hidden;
            border-top: 1px solid #f2f2f2;
            padding-top: 12px;
            font-size: 14px;
            box-sizing: content-box;
            margin: -1px 30px 13px 0;
        }
        .pic {
            position: relative;
            float: left;
            width: 86px;
            height: 86px;
            margin-right: 14px;
            overflow: hidden;
            &:hover {
                img {
                    transform: scale(1.07) translateZ(0);
                    transition: transform .75s cubic-bezier(0,1,.75,1);
                }
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                
                transform: scale(1) translateZ(0);
                transition: transform .75s;
            }
            .play {
                background-size: 68%;
                background-repeat: no-repeat;
                background-position: 50%;
            }
        }
        .name {
            font-size: 14px;
            padding: 21px 0 2px;
            max-width: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 400;
        }
        .singer {
            max-width: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .time {
            position: absolute;
            right: 0;
            bottom: 0;
            line-height: 86px;
            @include c_light();
        }
    }
    .banner-list {
        .wrapper {
            margin: 0 6px;
        }
        .pic {
            position: relative;
            display: block;
            width: 100%;
            padding-top: 40%;

            img {
                @include ab_full();
                object-fit: cover;
            }
        }
    }
    .card-mv {
        /* .pic {
            padding-top: 56.5476%;
        } */
        .mv-list {
            margin-right: -20px;
            font-size: 0;
            @include clearfix();
            & > li {
                overflow: hidden;
                position: relative;
                float: left;
                width: 20%;
                font-size: 14px;
                padding-bottom: 25px;
            }
            .wrapper {
                
                margin-right: 20px;
            }
            .pic {
                position: relative;
                display: block;
                overflow: hidden;
                padding-top: 56%;
                margin-bottom: 12px;
        
                &:hover {
                    img {
                        transform: scale(1.07) translateZ(0);
                        transition: transform .75s cubic-bezier(0,1,.75,1);
                    }
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    
                    transform: scale(1) translateZ(0);
                    transition: transform .75s;
                }
            }
            .intro {
                .name {
                    display: block;
                    font-weight: 400;
                    line-height: 22px;
                    max-height: 44px;
                    @include t_hide(100%);
                }
                .count {
                    @include c_light();
                }
                .mod_singer_name {
                    @include t_hide(100%);
                }
            }
        }
    }
}

// ================ 歌单 ================
#playlist {
    .category {
        position: relative;
        padding: 30px 0;
        @include clearfix();
        margin-right: -22px;
        
        dl {
            float: left;
            width: 238px;
            line-height: 26px;
            margin-right: 22px;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 1px;
                height: 108px;
                background-color: #eeeef0;
            }
            &.last:after {
                background-color: transparent;
            }
        }
        dl.less {
            width: 160px;
        }
        dt {
            font-weight: 400;
            font-size: 14px;
            padding-left: 8px;
            margin-bottom: 8px;
            margin-top: -6px;
            @include c_light();
        }
        dd {
            float: left;
            width: 76px;
            margin-bottom: 4px;
            @include t_hide(80px);
            span {
                display: inline-block;
                padding: 0 8px;
                cursor: pointer;

                &:hover {
                    @include highColor();
                }
                &.on {
                    color: #fff;
                    @include bgColor();
                }
            }
        }
        .popup-tag {
            position: absolute;
            z-index: 1;
            top: 146px;
            left: 0;
            right: 24px;
            border: 1px solid #bfbfbf;
            background-color: #fff;
            padding: 19px 0 15px;
            box-shadow: 0 0 10px rgba(183,183,183,.65);
            border: 0 none;

            ul {
                margin-left: 16px;
                line-height: 26px;
            }
            li {
                float: left;
                margin-right: 32px;
                margin-bottom: 4px;
            }
            a {
                display: block;
                padding: 0 8px;
                cursor: pointer;

                &:hover {
                    @include highColor();
                }
                &.on {
                    color: #fff;
                    @include bgColor();
                }
            }
        }
    }
    .creator {
        @include c_light();

        &:hover {
            @include highColor();
        }
    }
}